<p><a href="/passwordManager/groups_add">{"Add Group"}</a></p>

<p>
<table width="100%">
	<tr>
		<th width="20%">{" Group Name "}</th>
		<th width="65%">{" Group Users "}</th>
		<th width="15%">&nbsp;</th>
	</tr>
{% foreach items %}
	<tr>
		<td>{{ loop_value->group_name }}</td>
		<td>{{ loop_value->group_users }}</td>
		<td>
			<a	href="/passwordManager/groups_edit?id={{ loop_value->id }}">{"Edit"}</a> |
			<a	href="/passwordManager/groups_delete?id={{ loop_value->id }}"
				onclick="return confirm ('{"Are you sure you want to delete this group?"}')">{"Delete"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>

{! navigation/pager?style=text&url=[url]&total=[total]&count=[count]&limit=[limit] !}
