{! admin/util/modal !}

<script type="text/javascript">
$(document).ready(function() {
	$("#addGroup").click(function() {
		  $.get ('/passwordManager/passwords_add_group', function (res) {
			    $.open_dialog ('Add Group', res);
			    $("#add_group_form_password_id").val($("#password_id").val());
			});
	});
});
</script>

<style>
#grouplist{
	list-style:none;
	margin:0;
	width:250px;
	margin-top:30px;
}

#grouplist li{
	margin:0;
	border-bottom:1px solid #ddd;
	padding:5px;
}

#grouplist li:hover{
	background:#ddc;
}

.group_user_delete{
	float:right;
	text-decoration:none;
}
</style>


<form method="post" id="{{ _form }}">

<p>
	{"Service"}:<br />
	<input type="text" name="password_service" value="{{ password_service|quotes }}" />
	<span class="notice" id="password_service-notice">{"Please enter a service."}</span>
</p>

<p>
	{"Password"}:<br />
	<input type="text" name="password_text" value="{{ password_text|quotes }}" />
	<span class="notice" id="password_text-notice">{"Please enter a password."}</span>
</p>

<p><input type="submit" value="{"Save Password"}" /></p>

</form>
<input id="password_id" type="hidden" value="{{  id }}" />

<a href="#" id="addGroup" class="buttonlink">Add Group</a>
<div>
<ul id="grouplist">
	{% foreach groups %}
	<li>{{ loop_value->group_name }} <a class="group_user_delete" href="passwords_group_delete?password_id={{ id }}&group_id={{ loop_value->id}}">X</a></li>
	{% end %}
</ul>
</div>
